.Header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.head-text{
    font-family: 'Yomogi', cursive;
    color: aliceblue;
    font-size: 2.2rem;
    transition: font-size 1s;
}

.head-text-expanded{
    font-size: 2.5rem;
}

.head-text-contracted{
    font-size: 1.5rem;
}

.head-image{
    width: auto;
    transition: max-width 1s, min-width 1s;
}

.head-image-expanded{
    min-width: 16rem;
    max-width: 20rem;
}

.head-image-contracted{
    min-width: 6rem;
    max-width: 10rem;
}